 .main {
   display: flex;
   flex-direction: column;
   height: 100vh;
 }

 ::-webkit-scrollbar {
   display: none;
 }

 .navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px;
   background-color: #fafafa;
   transition: all 0.3s ease;
   position: sticky;
   top: 10px;
   z-index: 999;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
 }

 .navbar:hover {
   background-color: #f5f5f5;
 }

 .company {
   display: flex;
   align-items: center;
 }

 .hed {
   color: #555555;
   font-weight: bold;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin: 0;
   padding: 0;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
 }

 .pfp {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
   transition: all 0.3s ease;
 }

 .pfp:hover {
   transform: rotate(360deg);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 .company img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 8px;
 }

 .company h2 {
   font-size: 24px;
   color: #333;
 }

 .menu-btn {
   padding: 0;
   margin: 0;
   border: 0;
   font-size: 16px;
   background: none;
   color: #555555;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   height: 30px;
 }

 .menu-btn:hover {
   color: #66c6f6;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
 }

 .menu-btn:active {
   background-color: #fff;
   color: #66c6f6;
   border: 0;
   border-radius: 0px;
   box-shadow: 0px 3px 0px #23b2e6, 0px -3px 0px #23b2e6;
   transition: all 0.1s ease;
 }

 .all-btn-user {
   display: flex;
   justify-content: space-between;
   gap: 50px;
   align-items: center;
 }

 .all-btn {
   display: flex;
   gap: 10px;
 }

 .main-content {
   display: grid;
   grid-template-columns: 30% 70%;
 }

 .leftcontent {
   flex: 1;
   background-color: #ffffff;
   padding: 16px;
   position: fixed;
   width: 30%;
   height: 70vh;
   top: 15%;
 }

 .rightcontent {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 16px;
   position: fixed;
   right: 10px;
   width: 64%;
   top: 15%;
   height: 70vh;
   background-color: #ffffff;
 }

 .footer {
   padding: 16px;
   background-color: #fafafa;
   box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
   text-align: center;
   position: fixed;
   bottom: 10px;
   right: 10px;
   left: 10px;
 }
 /*list-right*/
 .list-community {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  gap: 20px;
  overflow-y: scroll;
  height: 390px;
  scroll-behavior: smooth;
  padding: 30px;
  padding-top: 0px;
}
@media only screen and (max-width: 768px) {
  .list-community {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 1300px) {
  .list-community {
    grid-template-columns: repeat(1, 1fr);
  }
}
.list-community::-webkit-scrollbar {
  display: none;
}

.community-card {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
 height: 300px;
 width: 27em;
}
.community-card:hover{
  box-shadow: 0px 0px 10px rgb(11, 182, 204);
  border: 1px solid rgb(11, 182, 204);
}
.community-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.community-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.community-title {
  font-size: 24px;
  margin: 0px;
  height: 30px;
  color: #121331;
}

.community-description {
  font-size: 16px;
 margin: 0px;
 height: 30px;
  color: #555;
}

.community-metadata {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  height: 25px;
}

.community-metadata li {
  display: flex;
  align-items: left;
  margin-left:15px;
  margin-right:15px;
  font-size: 14px;
  color: #555;
}

.community-metadata li i {
  margin-right: 4px;
  margin-left: 4px;
  font-size: 18px;
  color: #08a88a;
}

.community-button {
  background-color:#23b2e6;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  width: 200px;
  overflow: hidden;
  text-decoration: none;
}

.community-button:hover {
  background-color: white;
  color: rgb(15, 169, 148);
  cursor: pointer;
}

.community-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.community-button:hover:before {
  transform: scaleX(1);
}

.community-button:after {
  content: "";
  position: absolute;

  height: 0;
  width: 0;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}

.community-button:hover:after {
  height: 300px;
  width: 300px;
  opacity: 0.4;
}

/* Heading */
.heading {
  text-align: center;
  padding: 1px 10px 1px 10px;
 text-align: center;
}

.heading h2 {
  font-size: 44px;
  color: #555555;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  animation: heading-animation 1s ease-in-out forwards;
}

@keyframes heading-animation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider h4 {
  font-size: 18px;
  color: #555555;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#relevant-select {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

#relevant-select:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

hr {
  border: none;
  border-top: 2px solid #e5e5e5;
  margin: 0;
  flex-grow: 1;
}
/*<!--main-left-->*/
.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}


.user-info-box {
  position: relative;
  max-width: 500px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  z-index: 1;
  opacity: 0.3;
}

.user-pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 20px auto;
  z-index: 2;
}


.username-inbox {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.user-email,
.user-contact {
  margin-bottom: 10px;
}

.open-chat-box {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.open-chat-box:hover {
  background-color: #0056b3;
}

.chat-box {
  position: fixed;
  bottom: 50px;
  right: 50px;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  display: none;
}

.chat-box header {
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.chat {
  height: 200px;
  overflow-y: scroll;
  padding: 10px;
}

.bot-message {
  background-color: #e5e5ea;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.chat-box footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.chat-box footer input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #007bff;
  outline: none;
  margin-right: 10px;
}

.send-button,
.cancel-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.send-button:hover,
.cancel-button:hover {
  background-color: #0056b3;
}
.company-tag{
  display: flex;
  align-items: center;
  gap: 10px;
}
.futul{
  display: flex;
  list-style: none;
  gap: 10px;
}
.futur{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-handles{
  display: flex;
  gap: 10px;
}
