/*global*/
html {
  font-size: 16px;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
hr {
  border: none;
  border-top: 2px solid #e5e5e5;
  margin: 0;
  flex-grow: 1;
}
.heading {
  text-align: center;
  padding: 1px 10px 1px 10px;
  text-align: center;
}


.divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider h4 {
  font-size: 18px;
  color: #555555;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/*app*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #fafafa;
  transition: all 0.3s ease;
  z-index: 999;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar:hover {
  background-color: #f5f5f5;
}
.company {
  display: flex;
  align-items: center;
}
.company img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}
.company h2 {
  font-size: 24px;
  color: #333;
}
.hed {
  color: #555555;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.pfp:hover {
  transform: rotate(360deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.all-btn-user {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.page-changer {
  height: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #e0e0e0;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.all-btn {
  display: flex;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  height: 80%;
  align-items: center;
  padding: 0px 10px 0px 10px;
  overflow-x: auto;
  scrollbar-width: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);  
}
.all-btn::-webkit-scrollbar {
  display: none;
}
.menu-btn {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  background: none;
  color: #555555;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 50px;
  padding: 0px 10px 0px 10px;
  position: relative;
  overflow: hidden;
}
.menu-btn::before,
.menu-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
.menu-btn::before {
  background-color: #66c6f6;
  z-index: -1;
}
.menu-btn::after {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -2;
  transform: scale(2);
}
.menu-btn:hover::before {
  transform: translateY(-100%);
}
.menu-btn:hover::after {
  transform: scale(1);
}
.menu-btn:hover {
  color: #66c6f6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  height: 45px;
}
.menu-btn:active {
  background-color: #595959;
  color: #66c6f6;
  border: 0;
  border-radius: 0px;
  box-shadow: 3px 3px 0px #23b2e6, 0px 0px 0px #23b2e6;
  transition: all 0.1s ease;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
.main-content > div {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .main-content {
    display: flex;
    flex-wrap: nowrap;
  }

  .main-content > div:first-child {
    flex-basis: 30%;
  }

  .main-content > div:last-child {
    flex-basis: 70%;
  }
}
.leftcontent {
  flex: 1;
  background-color: #ffffff;
  padding: 16px;
  height: 70vh;
  position: sticky;
  top: 10px;
}
.rightcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #ffffff;
}
.footer {
  padding: 16px;
  background-color: #fafafa;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}